html {
  /*background:#018DED url(http://unsplash.it/1500/1000?image=881&blur=50);*/
  /*background-size:cover;*/
  font-family:'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  background: #2ecc71;
  font-size: 2rem;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #ecf0f1;
  font-family: Oswald, 'Helvetica Neue', Arial, sans-serif;
  font-size: 50px;
  letter-spacing: 0.05px;
  text-align: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border:20px solid #ecf0f1;
  border-radius:50%;
  background: #bdc3c7;
  margin:50px auto;
  position: relative;
  padding:2rem;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.clock-button {
  width: 10px;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  background: #111;
  border-radius: 50%;
  z-index: 5;
}

.hand {
  width:50%;
  background: #111;
  position: absolute;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: transform 0.5s ease-in-out;
  border-radius: 150px;
}

.hour-hand {
  width: 40%;
  height: 6px;
  top: 49%;
  right: 50%;
  z-index: 2;
}

.min-hand {
  height:3px;
  z-index: 1
}

.second-hand {
  height: 1px;
  background: #c0392b;
  z-index: 3;
}

p {
  color: #ecf0f1;
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 1.2rem;
}

a {
  color: #ecf0f1;
}
